<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5wmUFjY_XZK6e0jwgwpzWPacXGiD7SGc</string>
	<key>GCM_SENDER_ID</key>
	<string>1052430975911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadFlutter2ndFinal</string>
	<key>PROJECT_ID</key>
	<string>do-som2thing-nomad2ndfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>do-som2thing-nomad2ndfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052430975911:ios:fe32b46677019d92326c82</string>
</dict>
</plist>